android/* linguist-vendored
ios/* linguist-vendored
macos/* linguist-vendored
windows/* linguist-vendored
linux/* linguist-vendored
*.cpp linguist-vendored
*.c linguist-vendored
*.h linguist-vendored
*.html linguist-vendored
*.cmake linguist-vendored
*.swift linguist-vendored
